argcomplete
boto3
botocore
certifi
cfn-flip
charset-normalizer
click
colorama
discord-hooks
DiscordHooks
durationpy
future
hjson
idna
jmespath
kappa
placebo
python-dateutil
python-slugify
pytz
PyYAML
requests
s3transfer
six
text-unidecode
toml
tqdm
troposphere
tzdata
urllib3
Werkzeug
wsgi-request-logger
zappa